<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to believer's equipping network</p>
    <a href="{% url 'api:message_list' %}">Messages</a>  <br>
    <a href="{% url 'api:announcement_list' %}">Announcements</a>  <br>
    <a href="{% url 'api:song_list' %}">Songs</a>  <br>
    <a href="{% url 'api:testimony_list' %}">Testimonies</a>  <br>
</body>
</html>